.success-modal .modal-content {
  background-color: #E1EDF4;
  font-family: 'Inter', sans-serif;
  border: 3px solid #3D5A80;
}

.success-modal .modal-dialog {
  max-width: 400px;     
  width: 90vw;         
  margin: 0 auto;      
}


.success-modal .modal-title {
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.success-modal .modal-body {
  text-align: center;
  font-size: 1.1rem;
}

.success-modal .login-button {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  background-color: #EE6C4D;
  border: none;
  color: white;
  width: 100%;
}
.success-modal .login-button:hover {
  background-color: #d55a36 !important;
  color: white;
}

.success-modal .login-button:active{
  background-color: #d55a36 !important;
  color: white;
}