.error-modal .modal-content {
  background-color: #e1edf4;
  font-family: "Inter", sans-serif;
  border: 3px solid #3d5a80;
}

.error-modal .modal-dialog {
  max-width: 400px;
  width: 90vw;
  margin: 0 auto;
}

.error-modal .modal-title {
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.error-modal .modal-body {
  text-align: center;
  font-size: 1.1rem;
}
