
.navbar-custom {
  background-color: #EE6C4D !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}


.navbar-custom .navbar-brand {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 2rem; 
  color: #ffffff !important; 
  -webkit-text-stroke: 2px #ffffff;  
}

.home-button {
  color: white !important;
  font-size: 1.3rem;
  border: none;
  background: transparent;
  padding: 0;
  font-size: 1.5rem !important;
  font-family: 'Inter', sans-serif !important;
}

.home-button:hover {
  color: #f0f0f0;
  text-decoration: none;
}
