.navbar-custom {
  background-color: #EE6C4D !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 100% ;
}

.navbar-custom ::selection {
  background: #b94529;
}

.navbar-custom .container {
  max-width: 100% !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.navbar-custom .navbar-brand {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 2rem; 
  color: #ffffff !important; 
  -webkit-text-stroke: 2px #ffffff;  
}

.navbar-custom .navbar-center-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0.5rem 1.5rem;
  font-family: 'Inter', sans-serif !important;
  font-size: 1.5rem !important;
  color: white !important;
  background-color: #3D5A80;
  border-radius: 8px;
}

.home-button {
  color: white !important;
  font-size: 1.2rem !important;
  border: none;
  background: transparent;
  padding: 0; 
  font-family: 'Inter', sans-serif !important;
}

.home-button:hover {
  color: #f0f0f0;
  text-decoration: none;
}
