/* Lista Utenti */
.user-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.user-card {
  height: 5rem;
  background: #98C1D9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-icon {
  width: 65px;
  height: 62px;
  flex-shrink: 0;
}

.user-info {
  flex-grow: 1;
  padding: 0 1rem;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px; 
  font-weight: 400;
  line-height: 1.3;
}

.user-info p {
  margin: 0;
}

.info-label {
  font-weight: 700;
}

.user-add-btn {
  width: 50px;
  height: 48px;
  background: #EE6C4D;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  position: relative; /* Per il + */
  flex-shrink: 0;
}

/* Crea l'icona '+' usando i pseudo-elementi */
.plus-icon::before,
.plus-icon::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 5px;
  background: white;
  transform: translate(-50%, -50%);
}

.plus-icon::after {
  transform: translate(-50%, -50%) rotate(90deg);
}